<!DOCTYPE html>
<!添加功能（添加学生信息、宿管员信息。。。）>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color: #006a00">添加学生离校信息</title>
    <link rel="shortcut icon" href="/static/img/bg11.jpg">
</head>
<body>
<h1><strong style="color: #aa0d91">请在下列信息栏中记录学生离校的相关信息</strong></h1>
<form method="post" action="{% url 'manager:addLx' %}">
    {% csrf_token %}
    <li style="color: red"><strong>学号：<br><input style="color: red" type="text" name="s_no"/></strong><br></li>
    <li style="color: #2C009F"><strong>房间号：<br><input style="color: #2C009F" type="text" name="room_no"/></strong><br>
    </li>
    {% if msg %}
        <h5>{{ msg }}</h5><br>
    {% endif %}

    <li style="color: #5c2699"><strong>床号：<br><input style="color: #5c2699" type="text"
                                                       name="bed_no"/></strong><br></li>
    <li style="color: #1bcc34"><strong>离校时间：<br><input style="color: #1bcc34" type="text"
                                                       name="l_time"/></strong><br></li>
    <li style="color: #902b2b"><strong>离校原因：<br><input style="color: #902b2b" type="text" name="l_reason"/></strong><br></li>
    <f><button type="submit" class="btn btn-primary float-right"><strong>保存</strong></button></f>
    <a href="{% url 'manager:index' %}" class="text-success">
        <ins><strong>退出</strong></ins>
    </a>
    {% if error %}
        <h5>{{ error }}</h5><br>
    {% endif %}
    {% if sucess %}
        <h5>{{ sucess }}</h5><br>
    {% endif %}
</form>
</body>
</html>